<div class="grid-x grid-padding-x align-center">
    <p style="color:red" class="italic">Ce site est lié à un projet d'étude et nous l'avons fait pour mettre en oeuvre notre projet. Ce site n'a aucun lien commercial ou puplicitaire...<a class="p-2" href="/Mention_legales/{{ profile }}">Mention Légales</a></p>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src={{ url_for('static',filename='assets/js/foundation.js') }}></script>
<script>
      $(document).foundation();
</script>

</body>
</html>
