{% include 'head.html' %}
{% include 'menu.html' %}
{% include 'banniere.html' %}


<div class="grid-x grid-margin-x align-center">
<h1><p style="color:black;" class="italic">Welcome To THE WALL-GIT Official Web-Site</p></h1>
</div>
<hr>
<div class="grid-x grid-margin-x align-center">
    <p style="color:black;" class="italic">Je vous souhaite la bienvenu sur le site officiel de notre compagnie Wall-git.</p>
</div>

<div class="grid-x grid-padding-x align-center">
    <p style="color:black;" class="italic">Ce site a été conçu dans le but de suivre et développer les échanges et projets collaboratifs concernant l'électromobilité.<br></p>
</div>

<hr>


{% include 'bas.html' %}
